<div class="card1">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="https://icons8.com/icon/20909/html"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"/>
    <mat-card-content>
      <p>HTML</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="corsi">
  <h4>Corsi:</h4>
  <a href="https://media.licdn.com/dms/image/D4D22AQFydV_uCptmwA/feedshare-shrink_1280/0/1697526739060?e=1723680000&v=beta&t=wvxNRUIJMWa8yLK9ppsqs4QvQVTzt9NLBX8N6R0cQfw"
    target="_blank"><i class="fas fa-link"></i> Sistemista Informatico e Cybersercurity</a>
</div>
